[worldserver]
CoANeeds.Enable = 1
CoANeeds.IncludeBots = 0
CoANeeds.HungerDrainPerMinute = 4.5
CoANeeds.HydrationDrainPerMinute = 6.0
CoANeeds.MealFill = 45.0
CoANeeds.DrinkFill = 55.0
CoANeeds.VigorRegenPerSecond = 8.0
CoANeeds.SprintDrainPerSecond = 10.0
CoANeeds.CampLifetimeSeconds = 3600
CoANeeds.CampRestFillSeconds = 300
CoANeeds.Weather.Enable = 1
CoANeeds.Injuries.Enable = 1
CoANeeds.Tools.Enable = 1
CoANeeds.Professions.Enable = 1
CoANeeds.Weather.WetExposureMs = 300000
CoANeeds.Weather.ColdExposureMs = 420000
CoANeeds.Weather.HeatExposureMs = 180000

CoANeeds.Professions.AllAtStart = 1
CoANeeds.Professions.UnrestrictedGathering = 1
